<% layout('boilerplate/boiler') -%>
    <div class="dashboard-container">
        <% if(currentUser && currentUser.member_Status){ %>
            <a href="/products/new">Add Products</a>
        <% } %>
        <%if(products && !products.length){ %>
            <p>Products not Avilable</p>
        <% } %>
        <% if(products && products.length){ %>
            <p>All items</p>
            <div class="dashboard-content">
                <div class="card">
                    <% for(let prod of products){ %>
                        <div class="card-content">
                            <img src="<%=prod.image.url%>">
                                <div class="card-info">
                                    <p><%= prod.name  %><p>
                                    <p>$<%= prod.price %></p>
                                    <p><%= prod.description %> Cal</p>
                                    <a href="/products/<%= prod._id %>" class="view-more-btn" >View More</a>
                                </div>
                        </div>      
                    <% } %>    
                </div>
            </div>
            <div class="pagination">
                <% if(currentPage > 1) { %>
                    <a href="/products?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                <% } %>
            
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <a href="/products?page=<%= i %>" 
                       class="<%= currentPage === i ? 'active' : '' %>">
                       <%= i %>
                    </a>
                <% } %>
            
                <% if(currentPage < totalPages) { %>
                    <a href="/products?page=<%= currentPage + 1 %>">Next &raquo;</a>
                <% } %>
            </div>
        <% } %>
    </div>

