<% layout('boilerplate/boiler') -%>
<% if(cartItems && cartItems.length){ %>
<div class="cart-wrapper">
        <div class="cart-card">
            <% for(let items of cartItems){ %>
                <div class="cart-content">
                    <img src="<%= items.image.url %>" alt="<%= items.name %>">
                    <div class="cart-info">
                        <p>$<%= items.price %></p>
                        <p><%= items.name %></p>
                        <p>qty: <%= items.qty %></p>
                        <i class="bi bi-trash"></i>
                     </div>
                </div>
           <% } %>
           <form action="/checkout" method="post">
            <button type="submit">Order Now</button>
           </form>
        </div> 
</div>
<%  } %>


