<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3921c05fb0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/CssFiles">
    <title>ChickFil-a</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="wrapper">
    <%- include('../partials/phoneBar', {categoryLinks: categoryLinks }) %>
        <%-body -%>
        <% if (showCartPopup) { %>
            <%- include('../partials/cartPopup', { individualItem: individualItem }) %>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>

    <script src="/javascript"></script>
</body>
</html>